.fancy-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}
.fancy-spinner div {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.fancy-spinner div.ring {
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent;
    -webkit-animation: 2s fancy infinite alternate;
    animation: 2s fancy infinite alternate;
    box-shadow: none;
}
.fancy-spinner div.ring:nth-child(1) {
    border-left-color: #990000;
    border-right-color: #990000;
}
.fancy-spinner div.ring:nth-child(2) {
    border-top-color: #990000;
    border-bottom-color: #990000;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.fancy-spinner div.dot {
    width: 1rem;
    height: 1rem;
    background: #990000;
}

@-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fancy {
    to {
        transform: rotate(360deg) scale(0.5);
    }
}

@keyframes fancy {
    to {
        transform: rotate(360deg) scale(0.5);
    }
}
