.fancy-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}
.fancy-spinner div {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.fancy-spinner div.ring {
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent;
    -webkit-animation: 2s fancy infinite alternate;
    animation: 2s fancy infinite alternate;
    box-shadow: none;
}
.fancy-spinner div.ring:nth-child(1) {
    border-left-color: #f58320;
    border-right-color: #f58320;
}
.fancy-spinner div.ring:nth-child(2) {
    border-top-color: #f58320;
    border-bottom-color: #f58320;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.fancy-spinner div.dot {
    width: 1rem;
    height: 1rem;
    background: #f58320;
}

@-webkit-keyframes fancy {
    to {
        transform: rotate(360deg) scale(0.5);
    }
}

@keyframes fancy {
    to {
        transform: rotate(360deg) scale(0.5);
    }
}
